### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# eclipse specific git ignore
.project
.classpath
.metadata
.settings/
bin/
test-output/
Screenshots/